* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.1rem;
  font-family: sans-serif;
}

*::selection {
  background-color: rgba(119, 255, 255, 0.7);
  color: rgb(255, 115, 90);
}

body {
  display: flex;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Resume section */

#resume {
  /* width: 80%; */
  background-color: rgb(242, 235, 255);
  margin: 20px 0px;
  border-radius: 30px;
  width: min(80%, 1500px);
}

/* Resume Header */

#resume header {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  width: 100%;
  background-image: linear-gradient(
    to right,
    #ff000050,
    #da8d0050,
    #00800054,
    #0000ff49,
    #c9c90048,
    #37005f52,
    #ee82ee50
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 14px;
}

#resume header img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin-top: 20px;
  filter: brightness(120%);
  box-shadow: 0px 0px 30px greenyellow;
  animation: img_shadow 6s ease-in-out 1s infinite;
  transition-duration: 1s;
  cursor: pointer;
}

#resume header img:hover {
  transform: scale(1.05);
}

@keyframes img_shadow {
  0% {
    box-shadow: 0px 0px 50px greenyellow;
  }
  20% {
    box-shadow: 0px 0px 50px rgb(255, 113, 113);
  }
  40% {
    box-shadow: 0px 0px 50px rgb(251, 255, 0);
  }
  60% {
    box-shadow: 0px 0px 50px rgb(115, 255, 0);
  }
  80% {
    box-shadow: 0px 0px 50px rgb(0, 195, 255);
  }
  100% {
    box-shadow: 0px 0px 50px rrgb(104, 104, 104);
  }
}

#resume header h1 {
  font-size: 2.1rem;
  letter-spacing: 1px;
  padding: 5px;
  text-shadow: 2px 2px 2px rgb(0, 153, 255);
  transition-duration: 500ms;
}

#resume header h1:hover {
  text-shadow: 4px 4px 2px rgb(0, 153, 255);
}

#resume header h2 {
  color: rgb(0, 144, 201);
}

#resume header .gitHub_id {
  padding: 15px;
}

#resume header a {
  color: blue;
  font-size: 1rem;
  padding-top: 5px;
  text-decoration: none;
}

#resume header a:hover {
  color: rgb(219, 34, 1);
}

/* Resume main section */

#resume main {
  width: 100%;
  display: flex;
  padding: 0px 14px;
}

#resume .heading_section {
  width: 100%;
  background-color: rgb(0, 173, 0);
  color: white;
  font-size: 1.6rem;
  text-align: center;
  padding: 14px;
  /* margin-bottom: 10px; */
  margin: 20px 0px;
  font-weight: 100;
  letter-spacing: 2px;
  border-radius: 10px;
  cursor: pointer;
}

/* Resume Left section */

#resume .left_section {
  width: 40%;
}

.left_section .contact_section p {
  padding: 8px 12px;
}

.left_section .contact_section p i {
  margin: 0px 15px;
}

.left_section .contact_section p:nth-child(2) i {
  transform: rotate(-40deg);
}

.left_section .language_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left_section .language_section ul {
  width: 60%;
}

.left_section .language_section ul li {
  padding-top: 10px;
}

.left_section .coding_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left_section .coding_section div {
  text-align: center;
}

.left_section .coding_section div img {
  width: 40%;
  cursor: pointer;
}

.left_section .coding_section div h1 {
  font-size: 1.7rem;
  color: rgb(0, 162, 255);
  padding: 5px;
}

.left_section .certificate_section {
  text-align: center;
}

.left_section .certificate_section h1 {
  font-size: 1.5rem;
  padding: 20px;
}

.left_section .certificate_section img {
  width: 14%;
  transition-duration: 1s;
  cursor: pointer;
}

.left_section .certificate_section img:hover {
  transform: scale(2);
}

/* Resume Right section */

#resume .right_section {
  width: 60%;
}

#resume .right_section p {
  font-size: 1.1rem;
  padding: 10px 0px;
}

.right_section .workExperience_section {
  margin: 10px;
  margin-left: 25px;
}

.right_section .workExperience_section div {
  padding: 0px 30px;
  text-align: center;
}

.right_section .education_section {
  margin: 10px;
  margin-left: 25px;
  text-align: center;
}

.right_section .class_12th_details,
.right_section .class_10th_details {
  display: inline-block;
  width: 49%;
  text-align: center;
}

.right_section .skills_Summary_section {
  margin: 10px;
  margin-left: 25px;
}

.right_section .skills_Summary_section .progress_bar {
  display: flex;
  justify-content: space-evenly;
}

.right_section .skills_Summary_section .progress_bar div {
  text-align: center;
}

.right_section .skills_Summary_section .progress_bar div h1 {
  color: green;
  font-size: 1.5rem;
  padding: 10px;
}

.right_section .skills_Summary_section div img {
  margin-top: 8px;
  border-radius: 50%;
}

/* Media Qurie */

@media screen and (max-width: 1155px) {
  #resume {
    width: 100%;
  }
  #resume .heading_section {
    border-radius: 4px;
  }
}

@media screen and (max-width: 790px) {
  #resume main {
    padding: 0px;
    padding-left: 1px;
  }
  .right_section .workExperience_section,
  .right_section .education_section,
  .right_section .skills_Summary_section {
    margin-left: 5px;
    margin-right: 1px;
  }
  #resume .heading_section {
    border-radius: 50px;
  }
}

@media screen and (max-width: 710px) {
  p,
  li,
  a {
    font-size: 0.8rem !important;
  }
  h1,
  h2 {
    font-size: 1.1rem !important;
  }
  .left_section .contact_section p {
    padding: 5px 0px;
    padding-left: 0px;
  }
  .left_section .contact_section p i,
  .left_section .contact_section p:nth-child(2) i {
    margin: 0px 2px;
    transform: scale(0.7);
  }
  #resume header img {
    width: 150px;
    height: 150px;
  }
  #resume .left_section {
    width: 45%;
  }
  #resume .right_section {
    width: 55%;
  }
  #resume header .gitHub_id {
    padding: 5px;
  }
}

@media screen and (max-width: 400px) {
  #resume .left_section,
  #resume .right_section {
    width: 100%;
    padding: 0px 16px;
  }
  #resume main {
    display: flex;
    flex-direction: column;
  }
  #resume header img {
    width: 100px;
    height: 100px;
  }
  #resume .heading_section {
    border-radius: 7px;
  }
}